
* {
  margin: 0;
  padding: 0;
}

:root {
  --height: 2cm;
  --width: 3cm;
  --contentColor: #FFF;
}

body {
  background-color: #000;
}

.holo-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.holo-view {

  position: absolute;
  top: calc(50% - ( (var(--width) * 2 + var(--height)) / 2 ));
  left: calc(50% - ( var(--width) / 2 ));

  & .holo-side {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .side-1 {
    height: var(--width);
    width: var(--height);
    transform: rotate(180deg);

    & .holoweb-vanilla-content {
      transform: rotate(180deg);
      width: var(--height);
      text-align: center;
    }
  }

  & .side-2 {
    height: var(--height);
    width: var(--width);
    margin-left: var(--height);

    & .holoweb-vanilla-content {
      transform: rotate(90deg);
      width: var(--height);
      text-align: center;
    }

  }

  & .side-3 {
    height: var(--width);
    width: var(--height);

    & .holoweb-vanilla-content {
      transform: rotate(180deg);
      width: var(--height);
      text-align: center;
    }

  }

  & .side-4 {
    height: var(--height);
    width: var(--width);
    margin-top: calc( - (var(--width) + var(--height)));
    margin-left: calc( - var(--width) );
    transform: rotate(180deg);

    & .holoweb-vanilla-content {
      transform: rotate(90deg);
      width: var(--height);
      text-align: center;
    }
  }


}
